$siteWidth: 1200px;
$columns: 12;

.container {
  max-width: $siteWidth;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  .row {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;

    @for $i from 1 through $columns {

      .col-#{$i} {

        // TABLET++
        @media screen and (min-width: 768px) {
          width: (100% / $columns) * $i;
          padding: 0 10px;
        }
      }
    }
  }
}